data/1993-01.npy filter=lfs diff=lfs merge=lfs -text
data/aviso/*NPY filter=lfs diff=lfs merge=lfs -text
data/aviso/1993-1995-mask.npy filter=lfs diff=lfs merge=lfs -text
data/aviso/1993-1995.npy filter=lfs diff=lfs merge=lfs -text
